.c-cookie-bar {
    position: fixed;
    z-index: 99;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    transform: translateY(100%);
    transition: 400ms 400ms ease-in-out-quad;
    transition-property: transform;
}
.c-cookie-bar.cookie-bar--is-visible {
    transform: translateY(0);
}

.cookie-bar__content {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cookie-bar__button-holder {
    margin-left: auto;
}
